.week-line {
  display: block;
  padding: .5em 1em;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.week-line:last-of-type {
  border-bottom: 1px solid #ccc;
}

.week-line:hover {
  background: #f3f3f3;
}

.week-line.selected {
  background: #e8e8e8;
}

label {
  -moz-user-select: none;
  user-select: none;
}

.week-future {
  background: #fee;
}

.week-future::after {
  content: 'FUTURE';
  color: #f33;
  float: right;
}

.hide-future .week-future {
  display: none;
}

/** table styling **/

.worked-days-table {
  width: 100%;
  table-layout: fixed;

  text-align: center;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.worked-days-table :-moz-any(th, td) {
  border: 1px solid #ccc;

  padding: .5em 1em;
}

.worked-days-table td:first-child {
  /* force width for the first column */
  width: 25em;
}
