.week-line {
  display: block;
  padding: .5em 1em;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.week-line:last-of-type {
  border-bottom: 1px solid #ccc;
}

.week-line:hover, .cell-highlight, .holiday-cell:hover, .signature:hover {
  background-color: #f3f3f3;
}

.week-line.selected {
  background: #e8e8e8;
}

label {
  -moz-user-select: none;
  user-select: none;
}

.week-future {
  background: #fee;
}

.week-future::after {
  content: 'FUTURE';
  color: #f33;
  float: right;
}

.hide-future .week-future {
  display: none;
}

/** table styling **/

.worked-days-table {
  width: 100%;
  table-layout: fixed;

  text-align: center;
  border-collapse: collapse;
  border: 1px solid #ccc;

  margin: 1em 0;
}

.worked-days-table :-moz-any(th, td) {
  border: 1px solid #ccc;

  padding: .5em 1em;

  position: relative;
}

.worked-days-table td:first-child {
  /* force width for the first column */
  width: 22em;
}

[contenteditable=true] {
  padding: .2em .5em;
  min-height: 1.2em;
}

.has-content, [contenteditable=true]:focus, [data-persist] {
  border: 1px solid #ccc;
}

.unlink-button {
  position: absolute;

  top: 0;
  right: 0;

  width: 50px;
  height: 30px;

  background: url(gimp-hchain.png) center no-repeat;
  border: 0;

  cursor: pointer;
}

[data-holiday-index="-1"] .unlink-button {
  display: none;
}

.cell-unlinked .unlink-button {
  background-image: url(gimp-hchain-broken.png);
}

[lang|=en] {
  font-weight: normal;
  font-style: italic;
}

/* --- absence codes --- */
.absence-codes {
  border: 1px solid #888;
  padding: .5em 1em;
}

dt {
  position: absolute;
  margin-bottom: .5em;
}

dd {
  margin: 0 0 .5em 4em;
}

/* --- signature part --- */
footer {
  display: flex;
}

footer > div {
  flex: auto;
  margin: 0 1em;
}

.date-information {
  margin-top: 3em;
}

.signature-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  flex: 1 0 18em;
}

.signature {
  border-bottom: 1px solid black;
  padding-top: 4em;
  background: no-repeat center / contain;
}

.editable-name {
  display: flex;
  align-items: center;
}

.name-information {
  margin-left: 1em;
}

footer [contenteditable="true"] {
  min-width: 6em;
}

@media print {
  html, body {
    font-size: 10px;
  }

  [contenteditable=true] {
    border: 0;
    padding: 0;
  }

  .unlink-button {
    display: none;
  }
}

/* --- signature editor --- */
.signature-editor[hidden] {
  display: none;
}

.signature-editor {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(128, 128, 128, .9);
}

.signature-canvas {
  border: 1px solid black;
  background: white;
}

.signature-editor-controls {
  display: flex;
  flex-direction: column;

  margin: 1em;
}

.signature-editor-controls button {
  margin: .2em 0;
}
